services:
  db:
    image: postgres:16.4
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: ticketsystem
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d ticketsystem"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: aas_app
    restart: always
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://postgres:secret@db:5432/ticketsystem
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - NEXTAUTH_URL=${NEXTAUTH_URL}
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=${NEXT_PUBLIC_TELEGRAM_BOT_USERNAME}
      - NEXT_PUBLIC_APP_URL=${NEXT_PUBLIC_APP_URL}
      - NEXTAUTH_URL_INTERNAL=${NEXTAUTH_URL_INTERNAL}
      - TELEGRAM_WEB_VIEW_URL=${TELEGRAM_WEB_VIEW_URL}


  nginx:
    image: nginx:1.25-alpine
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  adminer:
    image: adminer:latest
    container_name: adminer
    restart: always
    ports:
      - "8080:8080"
    environment:
      - ADMINER_DESIGN=pear
      - ADMINER_DEFAULT_SERVER=db
      - ADMINER_DEFAULT_USERNAME=postgres
      - ADMINER_DEFAULT_PASSWORD=secret
      - ADMINER_DEFAULT_PORT=5432
      - ADMINER_DEFAULT_DB=ticketsystem

volumes:
  postgres_data: 